{
  "projects": {
    "default": "bethaniya-ministries-dev-58588",
    "development": "bethaniya-ministries-dev-58588",
    "staging": "bethaniya-ministries-staging",
    "production": "bethaniyaministries-production"
  }
}
